body{
    background-color: #282828;
    color:white;
}

h1, p {
    color: white;
}

.foto{
    height: auto;
}

#conocimientos{
    columns: 2;

}
ul{
    padding-left:0px;
}
.captura{

}

/*
Bootstrap windows size:
Small	            sm	≥576px
Medium	            md	≥768px
Large	            lg	≥992px
Extra large	        xl	≥1200px
Extra extra large	xxl	≥1400px
*/


@media (max-width: 767px) {
    h1,h4, p{
        text-align: center !important;
    }
    .linkButton{
        display: flex;
        justify-content: center;
    }
    #infoCon{
        flex-direction: column-reverse;   
    } 
    #infoExp, #infoPre{
        display: block;        
    }
    #infoExpImg, #infoConImg, #infoPreImg{
        justify-content: center;
        margin-bottom: 5%;
    }
}

@media (min-width: 768px) { 
    /*Compartidas*/
    .foto{
        width: 300px;
        height: 300px;
    }
    #infoExp p, #infoPre p{
        text-align: end !important;
    }
    #infoExpImg, #InfoPreImg{
        justify-content: start;
    }
    /*Presentacion*/
    #infoPre{
        display: flex;
    }
    #infoPreImg{
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
    /*Conocimientos*/
    #titCon h1{
        text-align: start !important;
    }
    #infoCon{
        display: flex;
        flex-direction: row;
    }
    #infoConImg{
        justify-content: end;
    }
    /*Experiencias*/
    #titExp h1{
        text-align: end !important;
    }
    #infoExp{
        display: flex;
        text-align: end !important;
    }
}
@media (min-width: 992px) {
    /*Compartidas*/
    .foto{
        width: 350px;
        height: 350px;
    }

} 